html {
  scroll-behavior: smooth;
}

::selection {
  background: #171717;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f7f7f5;
}

::-webkit-scrollbar-thumb {
  background: #d0d0cb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}